@font-face {
  font-family: "Naza";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/nazalisation.otf);
}

* {
  font-family: "Naza", sans-serif;
}

#presentation {
  width: 100vw;
  height: 100vh;
  cursor: default;
}

#parentLoader {
  display: flex;
}
h1 {
  margin: 15vh auto auto;
  color: white;
}
h2 {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -100%);
  z-index: 1;
  color: white;
  font-size: 1.5rem;
  opacity: 1;
  transition: 2.5s opacity;
}

h3 {
  position: absolute;
  left: 20%;
  top: 75%;
  transform: translate(-10%, -80%);
  z-index: 1;
  color: white;
  font-size: 15px;
  opacity: 1;
  transition: 2.5s opacity;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 3rem;
    color: white;
  }
  h3 {
    font-size: 1.8rem;
    left: 50%;
    top: 75%;
    text-align: center;
    transform: translate(-50%, -100%);
    color: white;
  }
}

/* LOADER */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: linear-gradient(5deg, transparent, transparent 40%, #e5f403);
  animation: animate 2s linear infinite;
  transition: 2s;
}

#inLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  transform: translate(-50%, -50%) rotate(0deg);
  background-repeat: no-repeat;
}

body {
  overflow: hidden;
}
html {
  cursor: wait;
}

.biggerLoader {
  width: 300vw;
  height: 300vh;

  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;

  border-radius: 50%;
  z-index: 1000;
}

.loader::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  filter: blur(60px);
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
/* LOADER */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
}

#twitchIframe {
  position: absolute;
  top: 5%;
  left: 12.3%;
  width: 75%;
  height: 75%;
}

#goHome {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.hidden {
  display: none !important;
  width: 0vw !important;
  height: 0vh !important;
}

.socialCenter {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .socialCenter {
    flex-direction: row !important;
  }
}

#ghcard-bellottoeric-1 {
  height: 80vh;
}

.LI-simple-link {
  display: none;
}

.desc {
  color: white;
}

audio {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  bottom: 0;
  opacity: 0;
  transition: 2.5s opacity;
}

/*//////////////////////////////////////////////////////////////////////////////*/
/* Line loader */
#lineLoader {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  background: #232b2b;
}

#lineLoader:before {
  content: "";
  display: block;
  background-image: linear-gradient(45deg, #d5135a, #f05924);
  height: 30px;
  width: 0;
}

.lineLoader:before {
  animation: getWidth 20s ease-in infinite;
}

.cinematicLineLoader:before {
  animation: getWidth 62s ease-in infinite;
  background-color: black !important;
  background-image: linear-gradient(45deg, #d5135a, #f05924) !important;
}

@keyframes getWidth {
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
