canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
}

#twitchIframe {
  position: absolute;
  top: 5%;
  left: 12.3%;
  width: 75%;
  height: 75%;
}

#goHome {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
}

.hidden {
  display: none;
}
